.App {
  text-align: center;
}
main {
  margin-top: 30px;
}

/* Header styles */
.header-bar {
  justify-content: space-between;
}

/* Layout styles for the forms */
.work-form {
  align-content: center;
  display: flex;
  flex-flow: column wrap;
}
.work-form .work-form-submit {
  margin-top: 2em;
}

/* Menu link styles (Drawer) */
.menu-link {
  text-decoration: none;
}

/* Layout styles for the today page */
.work-today .MuiContainer-fixed {
  align-content: center;
  display: flex;
  flex-flow: column wrap;
}
.work-today .in-container,
.work-today .out-container {
  margin-bottom: 2em;
}
.work-today .in-container button,
.work-today .out-container button {
  flex-shrink: 0;
  width: 130px;
}
.work-today .in-container time,
.work-today .out-container time {
  align-self: center;
  margin-left: 20px;
}
.work-today .today-lunch {
  margin: 1em auto;
}
.work-today .punched-time-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}
.work-today .punched-time-container time {
  margin: 1em;
}

/* Log listings */
.log-item-data {
  width: 100%;
}
.list-button-container {
  align-items: center;
  display: flex;
  flex-flow: column;
}
.list-button-container .delete-button {
  margin-top: 10px;
}
@media only screen and (min-width: 600px) {
  .list-button-container {
    flex-flow: row nowrap;
  }
  .list-button-container .delete-button {
    margin-left: 10px;
    margin-top: 0;
  }
}

.edit-button {
  background: #42a5f5;
  border-radius: 3px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  color: white;
  font-size: 16px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
}
.edit-button:hover {
  background: #2196f3;
}

.check-in,
.check-out {
  display: flex;
  justify-content: center;
  margin: 1em 0 0 0;
}
.work-edit .today-lunch {
  margin: 1em auto;
}

/* Settings page */
.remove-setting {
  margin-top: 60px;
}
.theme-setting {
  margin-top: 40px;
}
.container-change-password {
  margin-top: 50px;
}
.container-forgotten-password {
  margin-top: 50px;
}

.password-link {
  background: grey;
  border-radius: 3px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  color: white;
  font-size: 16px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
}
.password-link:hover {
  background: dimgrey;
}

.text-link {
  color: grey;
}
.text-link:hover {
  color: dimgrey;
}

.privacy {
  text-align: left;
}

.privacy a {
  color: #42a5f5;
}
.privacy a:hover {
  color: #2196f3;
}
